$primary-white: #fff;
$primary-black: #000;
$primary-yellow: #FFDF8C;
$primary-dark-gray: #282828;
$primary-light-gray: #2C2C2C;
$primary-lighter-gray: #7B7B7B;
$primary-orange: #FE5F1E;


$primary-font-bold: 'Dela Gothic One', sans-serif;
$primary-font-italiano: 'Pacifico', cursive;
$primary-font-roboto: 'Roboto', sans-serif;