@import './variables';
// font-family: 'Dela Gothic One', sans-serif;
// font-family: 'Pacifico', cursive;

.header{
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.header_container{
  max-width: 1235px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  margin: auto;
}

.header_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_media-logo{
  display: none;
}

.header_basket-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 23px;
  background-color: $primary-orange;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  hr{
    width: .2px;
    height: 25px;
    color: rgba(255, 255, 255, 0.25);
    border: .5px solid;
    margin: 0 13px;
  }
}

.header_basket-btn-left{
  display: flex;
  align-items: center;
  span{
    font-family:  'Pacifico', cursive;
    color: $primary-white;
  }
}

.header_basket-btn-rigt{
  display: flex;
  align-items: center;
  img{
    width: 16px;
    height: 16px;
  }
  span{
    font-family:  'Pacifico', cursive;
    color: $primary-white;
    padding-left: 8px;
  }
}

@media only screen and (max-width: 1313px) {
  .header{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 670px) {
  .header{
    padding: 30px 20px 0 20px;
  }
  .header_container{
    padding: 0;
  }
  .header_logo{
      max-width: 270px;
      width: 100%;
      height: 55px;
  }
  .header_basket-btn{
    padding: 8px 18px;
  }
}

@media only screen and (max-width: 535px) {
  .header{
    padding: 10px 15px 0 15px;
  }
  .header_logo{
      width: 210px;
      height: 40px;
  }
  .header_basket-btn{
    padding: 5px 13px;
    hr{
      width: .2px;
      height: 20px;
      margin: 0 10px;
    }
  }
}

@media only screen and (max-width: 444px) {
  .header_logo{
    display: none;
  }
  .header_media-logo{
    display: block;
  }
}